---
import SectionLayout from "../layouts/SectionLayout.astro";
import Chip from "./Chip.astro";

type Info = {
  label: string;
  info?: string;
  chips?: string[];
  full: boolean;
};

const infoList: Info[] = [
  { label: "title", info: "Software Engineer, Frontend", full: false },
  {
    label: "experience",
    info: "7 years",
    full: false,
  },
  {
    label: "focus",
    info: "Frontend → Fullstack",
    full: false,
  },
  {
    label: "based in",
    info: "Vancouver, WA",
    full: false,
  },
  {
    label: "open to",
    chips: ["remote", "hybrid", "orange county, ca"],
    full: true,
  },
  {
    label: "currently building",
    info: "Next Steps - Job Tracking App",
    full: false,
  },
  {
    label: "currently learning",
    info: "Astro",
    full: false,
  },
  {
    label: "currently reading",
    info: "The Pragmatic Programmer",
    full: false,
  },
  {
    label: "currently playing",
    info: "Final Fantasy Tactics",
    full: false,
  },
  {
    label: "tech",
    chips: [
      "vscode",
      "vim",
      "vim deep dark",
      "zsh",
      "terminal.app",
      "macbook pro m4",
      "windows + wsl",
      "i7-12700k",
      "rtx 3080",
      "3 monitors",
      "chrome",
      "firefox",
    ],
    full: true,
  },
  {
    label: "ask me about",
    chips: [
      "family",
      "coffee",
      "tech",
      "tinkering",
      "spoken word",
      "poetry",
      "steam deck",
      "travel",
      "cooking",
      "dining",
      "outdoors",
      "gaming",
      "music",
      "stickers",
      "thoughts",
    ],
    full: true,
  },
];
---

<SectionLayout
  label="// about"
  description="more than a stack list."
  id="about"
>
  <div class="about-grid">
    {
      infoList.map(({ label, info, chips, full }: Info) => (
        <div class={full ? "about-card full" : "about-card"}>
          <p class="about-label">{label}</p>
          {info && <p class="about-val">{info}</p>}
          {chips && (
            <div class="about-chips">
              {chips.map((info) => (
                <Chip value={info} />
              ))}
            </div>
          )}
        </div>
      ))
    }
  </div>
</SectionLayout>

<style>
  .about-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }

  .about-card {
    background: var(--bg-white);
    border: 0.5px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 0.5rem 1.25rem;
  }

  .about-card.full {
    grid-column: span 2;
  }

  .about-label {
    font-size: 12px;
    color: var(--muted);
  }

  .about-val {
    font-size: 14px;
    font-weight: 500;
    margin: auto;
  }

  .about-chips {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-top: 6px;
  }
</style>
