---
import SectionLayout from "../layouts/SectionLayout.astro";
import Chip from "./Chip.astro";

type Info = {
  label: string;
  info?: string;
  chips?: string[];
  expand?: boolean;
};

const infoList: Info[] = [
  {
    label: "identity",
    chips: [
      "husband",
      "father",
      "dog dad",
      "oc native",
      "coffee dependent",
      "software engineer",
    ],
  },
  {
    label: "based in",
    info: "Vancouver, Washington",
  },
  {
    label: "focus",
    info: "Frontend → Fullstack",
  },
  {
    label: "experience",
    info: "7 years 8 months",
  },
  {
    label: "open to",
    chips: [
      "remote - anywhere",
      "hybrid · orange county, ca",
      "hybrid · portland, or",
      "hybrid · vancouver, wa",
    ],
    expand: true,
  },
  {
    label: "currently building",
    info: "Next Steps: Job Tracking Tool",
  },
  {
    label: "currently fixated on",
    chips: ["steam deck", "exploring pnw", "this portfolio"],
  },
  {
    label: "currently reading",
    info: "The Pragmatic Programmer",
  },
  {
    label: "currently playing",
    info: "Final Fantasy Tactics",
  },
  {
    label: "tech",
    chips: [
      "vscode",
      "vim",
      "vim deep dark",
      "zsh",
      "terminal.app",
      "macbook pro m4",
      "windows + wsl",
      "i7-12700k",
      "rtx 3080",
      "3 monitors",
      "chrome",
      "firefox",
    ],
    expand: true,
  },
  {
    label: "ask me about",
    chips: [
      "family",
      "my golden retriever",
      "coffee",
      "tech",
      "tinkering",
      "spoken word",
      "poetry",
      "steam deck",
      "travel",
      "camping",
      "hiking",
      "cooking",
      "dining",
      "gaming",
      "movies",
      "music",
      "stickers",
      "thoughts",
    ],
    expand: true,
  },
];
---

<SectionLayout
  label="// about"
  description="more than a stack list."
  id="about"
>
  <div class="about-grid">
    {
      infoList.map(({ label, info, chips, expand }: Info) => (
        <div class={`about-card ${expand && "expand"}`}>
          <p class="about-label">{label}</p>
          {info && <p class="about-val">{info}</p>}
          {chips && (
            <div class="about-chips">
              {chips.map((value) => (
                <Chip {value} variant="off-white" />
              ))}
            </div>
          )}
        </div>
      ))
    }
  </div>
</SectionLayout>

<style>
  .about-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 8px;
  }

  .about-card {
    background: var(--bg-white);
    border: 0.5px solid var(--border);
    border-radius: var(--radius-lg);
    padding: 0.5rem 1.25rem;
  }

  @media (min-width: 768px) {
    .about-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 8px;
    }

    .about-card {
      background: var(--bg-white);
      border: 0.5px solid var(--border);
      border-radius: var(--radius-lg);
      padding: 0.5rem 1.25rem;
    }
    .about-card.expand {
      grid-column: span 2;
    }
  }

  .about-label {
    font-size: 12px;
    color: var(--muted);
  }

  .about-val {
    font-size: 14px;
    font-weight: 500;
    margin: auto;
  }

  .about-chips {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-top: 6px;
  }
</style>
